<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="common">
			<section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
		</sectionGroup>
	</configSections>
	<common>
		<logging>
			<factoryAdapter type="Common.Logging.NLog.NLogLoggerFactoryAdapter, Common.Logging.NLog20">
				<arg key="configType" value="FILE" />
				<arg key="configFile" value="_NLog.config" />
			</factoryAdapter>
		</logging>
	</common>
	<appSettings>
		<add key="ActiveDirectoryMethod" value="genworth" />
		<add key="ImageFileExtension" value=".BMP,.PNG,.JPG,.JPEG,.TIF,.TIFF" />
		<add key="AlertThresholdValue" value="50" />
		<add key="ExternalIdRegex" value="^[DBMWNAdbmwna]{1}[0-9]{9}" />
	</appSettings>
	<connectionStrings>
		<add name="TRACKING_CENTER" connectionString="Persist Security Info=False;Integrated Security=false;Data Source=fpkd22ewmdb1.corp.local;Initial Catalog=TrackingCenter; User ID=DevUser;Password=9SfzgS7Q4k; MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior name="GSS.ServiceBehavior">
					<serviceMetadata httpGetEnabled="True" />
					<serviceDebug includeExceptionDetailInFaults="true" />
					<dataContractSerializer maxItemsInObjectGraph="2147483647" />
					<serviceThrottling maxConcurrentSessions="2147483647" maxConcurrentCalls="2147483647" maxConcurrentInstances="2147483647" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<bindings>
			<basicHttpBinding>
				<binding name="GSS.ServiceBinding" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" sendTimeout="12:00:00" receiveTimeout="12:00:00" maxBufferPoolSize="2147483647">
					<readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
					<security mode="None">
					</security>
				</binding>
				<binding name="DSServiceBinding" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" sendTimeout="12:00:00" receiveTimeout="12:00:00" messageEncoding="Mtom">
					<security mode="None">
					</security>
					<readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
				</binding>
			</basicHttpBinding>
			<netTcpBinding>
				<binding name="DocumentStore.ServiceBinding" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647" openTimeout="00:01:00" closeTimeout="00:05:00" sendTimeout="12:00:00" receiveTimeout="12:00:00" portSharingEnabled="false" transferMode="Streamed">
					<security mode="None" />
					<readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
				</binding>
			</netTcpBinding>
		</bindings>
		<client>
			<endpoint name="PROXY.DSCONNECTService" address="http://localhost:8099/ServiceBus/DSConnectService.svc" binding="basicHttpBinding" bindingConfiguration="DSServiceBinding" contract="DSConnectServiceInterface.IDSConnectService" />

			<endpoint name="PROXY.DocumentStoreService" address="net.tcp://dev4-docstore.corp.local:57060/Ewm/DocumentStoreService.svc" binding="netTcpBinding" bindingConfiguration="DocumentStore.ServiceBinding" contract="Ewm.DocumentStore.Common.IDocumentStoreService" />

			<endpoint name="PROXY.TRACKING_CENTER_V3" address="http://localhost/ServiceBus/GSS/3/TrackingCenterService.svc" binding="basicHttpBinding" bindingConfiguration="GSS.ServiceBinding" contract="GSS.Interfaces.ITrackingCenter3" />
		</client>
	</system.serviceModel>
	<system.web>
		<compilation debug="true" />
		<httpRuntime maxRequestLength="524288" />
	</system.web>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-65535.65535.65535.65535" newVersion="2.1.2.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>
</configuration>
