<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
			xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<variable name="dateLayout"
						value="${date:format=yyyy-MM-dd HH\:mm\:ss.fff}" />
	<variable name="exceptionLayout"
						value="${onexception:EXCEPTION OCCURRED\:${exception:format=tostring}}" />
	<variable name="commonLayout"
						value="${dateLayout} ${machinename} ${level:uppercase=true} ${message} ${when:when=level == LogLevel.Error:inner=${newline}}${exceptionLayout}" />
	<variable name="logDir"
						value="${baseDir}/../../../../../../../logs/Gss/GSSTrackingCenter" />
	<variable name="customFileName"
						value="${level}" />
	<targets>
		<target xsi:type="Console"
			name="console"
						layout="${commonLayout}" />
		<target xsi:type="File"
			name="file"
						fileName="${logDir}/${customFileName}.log"
						layout="${commonLayout}"
						archiveFileName="${logDir}/${customFileName}.${shortdate}.{#####}.log"
						archiveAboveSize="10485760"
						archiveNumbering="Sequence"
						concurrentWrites="true"
						keepFileOpen="false"
						encoding="iso-8859-2" />
		<target xsi:type="EventLog"
			name="eventLog"
						source="TrackingCenterService"
						layout="${commonLayout}"
						log="GSS_TrackingCenter"
						machineName="." />
		<!--  <target xsi:type="Database"
			  name="database"              
              dbProvider="System.Data.SqlClient"
              connectionStringName="APPLOGSTORE"
              keepConnection="true"
              commandText="INSERT INTO [dbo].[nlog] (RecordedOn, Level, Callsite, Message, ExceptionDetails) VALUES (@RecordedOn, @Level, @CallSite, @Message, @ExceptionDetails)">
        <parameter name="@RecordedOn" layout="${dateLayout}" />
        <parameter name="@Level" layout="${level:uppercase=true}" />
        <parameter name="@Callsite" layout="${callsite}" />
        <parameter name="@Message" layout="${message}" />
        <parameter name="@ExceptionDetails" layout="${exceptionLayout}" />
      </target> -->
	</targets>
	<rules>
		<!-- Log levels (descending order): Off, Fatal, Error, Warn, Info, Debug, Trace -->
		<logger name="*" minlevel="Trace" writeTo="console" />
		<logger name="*" minlevel="Trace" writeTo="file" />
		<logger name="*" minlevel="Trace" writeTo="eventLog" />
		<!--<logger name="*" minlevel="Trace" writeTo="database" />-->
	</rules>
</nlog>
