<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations
	 see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<system.web>
		<compilation xdt:Transform="RemoveAttributes(debug)"/>
	</system.web>
	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior name="GSS.ServiceBehavior">
					<serviceThrottling maxConcurrentSessions="{{Max_Concurrent_Sessions}}" maxConcurrentCalls="{{Max_Concurrent_Calls}}" maxConcurrentInstances="{{Max_Concurrent_Instances}}" xdt:Transform="Replace" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<client>
			<endpoint name="PROXY.DocumentStoreService"
								address="net.tcp://{{DocStore}}:57060/Ewm/DocumentStoreService.svc"
								xdt:Transform="SetAttributes(address)" xdt:Locator="Match(name)" />
		</client>
	</system.serviceModel>
	<connectionStrings>
		<add name="TRACKING_CENTER"
				 connectionString="Initial Catalog=TrackingCenter;Integrated Security=true;Data Source={{BpmSqlDB}}"
				 xdt:Transform="Replace" xdt:Locator="Match(name)" />

		<add name="TRACKING_CENTER_READONLY"
				 connectionString="Initial Catalog=TrackingCenter;Integrated Security=true;Data Source={{BpmSqlDB}}; ApplicationIntent=READONLY;"
				 xdt:Transform="Replace" xdt:Locator="Match(name)" />

		<add name="TRACKING_CENTER_READONLY_EF"
				 connectionString="Initial Catalog=TrackingCenter;Integrated Security=true;Data Source={{BpmSqlDB}}; ApplicationIntent=READONLY;" providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)" />
		
	</connectionStrings>
	<common>
		<logging>
			<factoryAdapter>
				<arg key="configFile" value="~\_NLog.config" xdt:Transform="Replace" xdt:Locator="Match(key)" />
			</factoryAdapter>
		</logging>
	</common>
	<system.webServer>
		<directoryBrowse enabled="{{DirectoryBrowseEnabled}}" xdt:Transform="Replace" />
	</system.webServer>
</configuration>
