<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="common">
			<section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
		</sectionGroup>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<common>
		<logging>
			<factoryAdapter type="Common.Logging.NLog.NLogLoggerFactoryAdapter, Common.Logging.NLog20">
				<arg key="configType" value="FILE" />
				<arg key="configFile" value="~\bin\_NLog.config" />
			</factoryAdapter>
		</logging>
	</common>
	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior name="GSS.ServiceBehavior">
					<serviceMetadata httpGetEnabled="True" />
					<serviceDebug includeExceptionDetailInFaults="true" />
					<dataContractSerializer maxItemsInObjectGraph="2147483647" />
					<serviceThrottling maxConcurrentSessions="2147483647" maxConcurrentCalls="2147483647" maxConcurrentInstances="2147483647" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<bindings>
			<basicHttpBinding>
				<binding name="GSS.ServiceBinding" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" sendTimeout="12:00:00" receiveTimeout="12:00:00" maxBufferPoolSize="2147483647">
					<readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
					<security mode="None"></security>
				</binding>
				<binding name="DSServiceBinding" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" sendTimeout="12:00:00" receiveTimeout="12:00:00" messageEncoding="Mtom">
					<security mode="None"></security>
					<readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
				</binding>
			</basicHttpBinding>
			<netTcpBinding>
				<binding name="DocumentStore.ServiceBinding" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647" openTimeout="00:01:00" closeTimeout="00:05:00" sendTimeout="12:00:00" receiveTimeout="12:00:00" portSharingEnabled="false" transferMode="Streamed">
					<security mode="None" />
					<readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
				</binding>
			</netTcpBinding>
		</bindings>
		<services>
			<service name="GSS.TrackingCenterService.GSSTrackingCenterService1" behaviorConfiguration="GSS.ServiceBehavior">
				<endpoint address="" binding="basicHttpBinding" bindingName="GSS.ServiceBinding" bindingConfiguration="GSS.ServiceBinding" contract="GSS.Interfaces.ITrackingCenter1" />
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8097/TrackingCenterService/TrackingCenterService1.svc" />
					</baseAddresses>
				</host>
			</service>
			<service name="GSS.TrackingCenterService.GSSTrackingCenterService2" behaviorConfiguration="GSS.ServiceBehavior">
				<endpoint address="" binding="basicHttpBinding" bindingName="GSS.ServiceBinding" bindingConfiguration="GSS.ServiceBinding" contract="GSS.Interfaces.ITrackingCenter2" />
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8097/TrackingCenterService/TrackingCenterService2.svc" />
					</baseAddresses>
				</host>
			</service>
			<service name="GSS.TrackingCenterService.GSSTrackingCenterService3" behaviorConfiguration="GSS.ServiceBehavior">
				<endpoint address="" binding="basicHttpBinding" bindingName="GSS.ServiceBinding" bindingConfiguration="GSS.ServiceBinding" contract="GSS.Interfaces.ITrackingCenter3" />
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8097/TrackingCenterService/TrackingCenterService3.svc" />
					</baseAddresses>
				</host>
			</service>
		</services>
		<client>
			<endpoint name="PROXY.DSCONNECTService" address="http://localhost:8099/DSConnectService/DSConnectService.svc" binding="basicHttpBinding" bindingConfiguration="DSServiceBinding" contract="DSConnectServiceInterface.IDSConnectService" />
			<endpoint name="PROXY.DocumentStoreService" address="net.tcp://prd-docstore.corp.local:57060/Ewm/DocumentStoreService.svc" binding="netTcpBinding" bindingConfiguration="DocumentStore.ServiceBinding" contract="Ewm.DocumentStore.Common.IDocumentStoreService" />
		</client>
	</system.serviceModel>
	<system.web>
		<compilation targetFramework="4.6.1" debug="true" />
		<httpRuntime targetFramework="4.6.1" maxRequestLength="256000" />
	</system.web>
	<appSettings>
		<add key="ActiveDirectoryMethod" value="genworth" />
		<add key="ImageFileExtension" value=".BMP,.PNG,.JPG,.JPEG,.TIF,.TIFF" />
		<add key="AlertThresholdValue" value="50" />
		<add key="ExternalIdRegex" value="^[DBMWNAdbmwna]{1}[0-9]{9}" />
	</appSettings>
	<connectionStrings>
		<add name="TRACKING_CENTER" connectionString="Initial Catalog=TrackingCenter;Integrated Security=true;Data Source=fpkp01bpmpsdb1.corp.local" />
		<add name="TRACKING_CENTER_READONLY" connectionString="Initial Catalog=TrackingCenter;Integrated Security=true;Data Source=fpkp01bpmpsdb1.corp.local; ApplicationIntent=READONLY;" />
		<add name="TRACKING_CENTER_READONLY_EF" connectionString="Integrated Security=sspi;Initial Catalog=TrackingCenter;Data Source=fpkp01bpmpsdb1.CORP.LOCAL;ApplicationIntent=READONLY;" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.1.2.0" newVersion="2.1.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.webServer>
		<directoryBrowse enabled="true" />
		<security>
			<requestFiltering>
				<!-- The size is 262144000 bytes which is 250 MB -->
				<requestLimits maxAllowedContentLength="262144000" />
			</requestFiltering>
		</security>
	</system.webServer>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="mssqllocaldb" />
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
</configuration>
